$blue:             	#06f    !default;
$bluedark:         	#003d99 !default;
$bluedarker:       	#002966 !default;
$bluelight:        	#4d94ff !default;
$bluelighter:      	#80b2ff !default;
$bluedull:         	#06c    !default;
$blueduller:       	#369    !default;
$bluebright:       	#39f    !default;
$bluebrighter:     	#70b8ff !default;
$blueairforce:      #5d8aa8 !default;
$blueazure:        	#007fff !default;
$bluebaby:        	#89cff0 !default;
$bluefrench:        #318ce7 !default;
$blueceleste:       #b2ffff !default;
$bluecolumbia:      #75b2dd !default;
$bluesky:        		#73c2fb !default;
$bluemidnight:      #191970 !default;
$bluenavy:        	#000080 !default;
$blueroyal:        	#4169e1 !default;
$bluesapphire:      #0f52ba !default;
$bluesteel:         #4682b4 !default;
$bluebehance:       #053eff !default;
$bluedropbox:       #3d9ae8 !default;
$bluefacebook:      #3b5998 !default;
$blueflickr:        #0063dc !default;
$bluefoursquare:    #25a0ca !default;
$bluelinkedin:      #0e76a8 !default;
$bluerdio:        	#008fd5 !default;
$blueskype:         #00aff0 !default;
$bluetwitter:       #00a0d1 !default;
$bluevimeo:         #86c9ef !default;
$bluevirb:        	#06afd8 !default;
$bluesea:        		#668ebf !default;
$bluebabe:        	#96b5d4 !default;
$bluereflection:    #9ab7b3 !default;
$blueholiday:       #0097c8 !default;
$bluestonewash:     #648e9c !default;
$bluecyan:      		#36a0ca !default;
$bluesapphire:    	#2c405b !default;
$bluelake:        	#476a88 !default;
$bluebreton:        #4d5965 !default;
$blueseduction:     #4c84b8 !default;
$bluecloud:      		#6883b6 !default;
$bluezurb:        	#2ba6cb !default;
