$brown:             	#630    !default;
$brown-dark:         	#472400 !default;
$brown-darker:       	#331a00 !default;
$brown-light:        	#754719 !default;
$brown-lighter:      	#855c33 !default;
$brown-dull:         	#664728 !default;
$brown-duller:       	#5e4c3a !default;
$brown-bright:       	#930    !default;
$brown-brighter:     	#a34719 !default;
$brown-beaver:        #9f8170 !default;
$brown-bistre:        #3d2b1f !default;
$brown-bole:        	#79443b !default;
$brown-bronze:        #cd7f32 !default;
$brown-burnt:        	#8a3324 !default;
$brown-camel:        	#c19a6b !default;
$brown-chestnut:      #954535 !default;
$brown-chocolate:     #7b3f00 !default;
$brown-coffee:        #6f4e37 !default;
$brown-copper:        #b87333 !default;
$brown-mahogany:      #c04000 !default;
$brown-sepia:        	#704214 !default;
$brown-caramel:       #ac9d8e !default;
$brown-praline:       #9f8e82 !default;
$brown-truffle:       #8e796b !default;
$brown-exotic:        #8e766c !default;
$brown-bitter:        #82695f !default;
$brown-cocoa:        	#7e6660 !default;
$brown-mocha:        	#7f6968 !default;
$brown-clay:        	#d7c3b8 !default;
