$gray:              #555 	  !default;
$gray-ash:          #b2beb5 !default;
$gray-battleship:   #848482 !default;
$gray-cadet:        #91a3b0 !default;
$gray-charcoal:     #36454f !default;
$gray-cool:        	#8c92ac !default;
$gray-gunmetal:     #423732 !default;
$gray-silver:       #c0c0c0 !default;
$gray-slate:        #708090 !default;
$gray-taupe:        #8b8589 !default;
$gray-timberwolf:   #dbd7d2 !default;
