$green:             #3c3 !default;
$green-dark:        #1f7a1f !default;
$green-darker:      #0f3d0f !default;
$green-light:       #5cd65c !default;
$green-lighter:     #85e085 !default;
$green-dull:        #093 !default;
$green-duller:      #428057 !default;
$green-bright:      #6f3 !default;
$green-brighter:    #9f6 !default;
$green-apple:       #8db600 !default;
$green-asparagus:   #7ba05b !default;
$green-olive:       #556b2f !default;
$green-fern:        #4f7942 !default;
$green-forest:      #228b22 !default;
$green-hunter:      #355e3b !default;
$green-mint:        #3eb489 !default;
$green-office:      #008000 !default;
$green-sea:        	#2e8b57 !default;
$green-spring:      #a7fc00 !default;
$green-teal:        #008080 !default;
$green-evernote:    #5ba525 !default;
$green-forrst:      #5b9a68 !default;
$green-groupon:     #82b548 !default;
$green-kickstarter: #87c442 !default;
$green-nvidia:      #76b900 !default;
$green-spotify:     #81b71a !default;
$green-zerply:      #9dcc7a !default;
$green-spa:      		#00aa8f !default;
$green-falls:      	#33ad7b !default;
$green-granada:     #57b176 !default;
$green-garland:   	#68af6b !default;
$green-parrot:      #75b65d !default;
$green-creek:      	#89b555 !default;
$green-kiwi:      	#98b641 !default;
$green-lime:      	#b6bf3c !default;
$green-zurb:        #5da423 !default;
