$lime:               	#b8e62e !default;
$lime-dark:           #7a991f !default;
$lime-darker:         #3d4c0f !default;
$lime-light:          #d6ff5c !default;
$lime-lighter:        #e0ff85 !default;
$lime-dull:           #a6c44b !default;
$lime-duller:         #94a856 !default;
$lime-bright:         #bfff00 !default;
$lime-brighter:       #d7ff5e !default;
