$peach:               #ff5050 !default;
$peach-dark:          #993030 !default;
$peach-darker:        #4c1818 !default;
$peach-light:         #ff9696 !default;
$peach-lighter:       #ffcaca !default;
$peach-dull:          #d67272 !default;
$peach-duller:        #ba8c8c !default;
$peach-bright:        #ff9c9c !default;
$peach-brighter:      #ffbfbf !default;
$peach-sorbet:        #f5d8d2 !default;
$peach-shimmer:   		#fdefe2 !default;
