$pink:             	 #f3c    !default;
$pink-dark:          #b2248f !default;
$pink-darker:        #661452 !default;
$pink-light:         #ff5cd6 !default;
$pink-lighter:       #ff85e0 !default;
$pink-dull:          #c39    !default;
$pink-duller:        #936    !default;
$pink-bright:        #f6c    !default;
$pink-brighter:      #f9c    !default;
$pink-amaranth:      #e52b50 !default;
$pink-brink:         #fb607f !default;
$pink-carmine:       #960018 !default;
$pink-carnation:     #ffa6c9 !default;
$pink-cerise:        #de3163 !default;
$pink-coral:         #f88379 !default;
$pink-deep:        	 #ff1493 !default;
$pink-fandago:       #b53389 !default;
$pink-rose:        	 #f64a8a !default;
$pink-fuchsia:       #f0f    !default;
$pink-hot:        	 #ff69b4 !default;
$pink-magenta:       #ff0090 !default;
$pink-ruby:        	 #e0115f !default;
$pink-salmon:        #ff91a4 !default;
$pink-dribbble:      #ea4c89 !default;
$pink-flickr:        #ff0084 !default;
$pink-berry:     		 #d46f8d !default;
$pink-plum:     		 #952c57 !default;
$pink-blush:     	   #954d65 !default;
$pink-adobe:       	 #9f5c60 !default;
$pink-nevada:        #ac545c !default;
$pink-flamingo:   	 #c16b9e !default;
$pink-candy:   	 		 #bb597e !default;
$pink-fuchsia:   	 	 #c25c77 !default;
$pink-rose:   			 #cf5f6f !default;
$pink-party:   			 #d87082 !default;
