$purple:              #96f    !default;
$purple-dark:         #5c3d99 !default;
$purple-darker:       #2e1f4c !default;
$purple-light:        #ad85ff !default;
$purple-lighter:      #c2a3ff !default;
$purple-dull:         #957bc7 !default;
$purple-duller:       #9589ad !default;
$purple-bright:       #93f    !default;
$purple-brighter:     #ad5cff !default;
$purple-amethyst:     #96c    !default;
$purple-cerise:       #de3163 !default;
$purple-fandango:     #b53389 !default;
$purple-heliotrope:   #df73ff !default;
$purple-lavendar:     #b57edc !default;
$purple-magenta:      #ff0090 !default;
$purple-orchid:       #da70d6 !default;
$purple-plum:         #8e4585 !default;
$purple-heroku:       #6567a5 !default;
$purple-yahoo:        #720e9e !default;
$purple-rose:    		  #865873 !default;
$purple-blush:   		  #864e66 !default;
$purple-opera: 	 		  #b977a9 !default;
$purple-verona: 	 		#a77aac !default;
$purple-spring: 	 		#a389b8 !default;
$purple-blossom:  		#8a7aa2 !default;
$purple-showers:  		#7571a4 !default;
$purple-lilac:  			#797fa8 !default;
