$red:             #d42c2c !default;
$red-dark:        #7a0000 !default;
$red-darker:      #3d0000 !default;
$red-light:       #db4d4d !default;
$red-lighter:     #f0b2b2 !default;
$red-dull:        #933    !default;
$red-duller:      #824d4d !default;
$red-bright:      #f00    !default;
$red-brighter:    #ff6e6e !default;
$red-auburn:      #a52a2a !default;
$red-burgundy:    #9f1d35 !default;
$red-chestnut:    #9a1a00 !default;
$red-crimson:     #dc143c !default;
$red-brick:       #b22222 !default;
$red-wood:        #ab4e52 !default;
$red-rust:        #b7410e !default;
$red-wine:        #722f37 !default;
$red-google:      #db4a39 !default;
$red-lastfm:      #c3000d !default;
$red-pinterest:   #c8232c !default;
$red-youtube:     #c4302b !default;
$red-raspberry:   #bf545a !default;
$red-diva:   			#b5787d !default;
$red-ruby:   			#7d3d3e !default;
$red-summer:   		#a05a5c !default;
$red-fire:   			#b24848 !default;
$red-fountain:   	#a64048 !default;
$red-autumn:   		#a34847 !default;
$red-bloom:   		#9d5351 !default;
$red-thai:  			#aa5452 !default;
$red-volcanic:		#b5473a !default;
$red-zurb:        #c60f13 !default;
