$tan:               #fc9    !default;
$tan-dark:          #997a5c !default;
$tan-darker:        #4c3d2e !default;
$tan-light:         #ffd6ad !default;
$tan-lighter:       #ffe0c2 !default;
$tan-dull:          #c7925d !default;
$tan-duller:        #a67544 !default;
$tan-bright:        #f96    !default;
$tan-brighter:      #ffc2a3 !default;
$tan-gold:        	#f5ca9e !default;
$tan-bronze:  		  #edbc91 !default;
$tan-wholemeal:    	#e8b894 !default;
$tan-nectar:     		#eab897 !default;
$tan-melody:    		#e3bba5 !default;
$tan-spicy:    			#eaa06f !default;
$tan-pumpkin:    		#e09c70 !default;
$tan-ginger:    		#e89f78 !default;
