$white:                  #fff    !default;
$white-antiflash:        #f2f3f4 !default;
$white-antique:          #faebd7 !default;
$white-beige:            #f5f5dc !default;
$white-blond:            #faf0be !default;
$white-cornsilk:         #fff8dc !default;
$white-cosmic:           #fff8e7 !default;
$white-cream:            #fffdd0 !default;
$white-eggshell:         #f0ead6 !default;
$white-floral:           #fffaf0 !default;
$white-honeydew:         #f0fff0 !default;
$white-isabelline:       #f4f0ec !default;
$white-navajo:           #ffdead !default;
$white-pearl:            #eae0c8 !default;
$white-vanilla:          #f3e5ab !default;
$white-smoke:            #f5f5f5 !default;
$white-blossom:          #f6e9de !default;
