$yellow:            #fc0    !default;
$yellow-dark:       #806600 !default;
$yellow-darker:     #332900 !default;
$yellow-light:      #ffdb4d !default;
$yellow-lighter:    #ffeb99 !default;
$yellow-dull:       #cfb036 !default;
$yellow-duller:     #b39f52 !default;
$yellow-bright:     #ff0    !default;
$yellow-brighter:   #ff6    !default;
$yellow-buff:       #f0dc82 !default;
$yellow-gold:       #ffd700 !default;
$yellow-goldmetal:  #d4af37 !default;
$yellow-jasmine:    #f8de7e !default;
$yellow-maize:      #fbec5d !default;
$yellow-saffron:    #f4c430 !default;
$yellow-sunglow:    #fc3    !default;
$yellow-light:      #fdfc8f !default;
$yellow-aim:        #fcd20b !default;
$yellow-pharaoh:   	#fdc46b !default;
$yellow-havana:			#fbbb5c !default;
$yellow-sunny:			#ffd251 !default;
$yellow-delhi:			#ffc924 !default;
$yellow-spring:			#ffcd59 !default;
$yellow-sunflower: 	#ffc43c !default;
$yellow-glaze:			#ffc054 !default;
$yellow-breeze:			#f0d458 !default;
$yellow-easter:			#fecf51 !default;
$yellow-lemon:			#ffd865 !default;
$yellow-buttercup:	#f9c833 !default;
