// ***********************************
// BASE
// ***********************************
html {
  box-sizing: border-box;
  overflow-y: scroll;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  // media query mixin, see _mixins.scss
  @include desktop {
    background: $grey-light;
  }
  background: $body-background;
  color: $body-text;
  font-family: $font-family-primary;
  font-weight: $font-weight-body;
  margin: 0;
  padding: 0;
}

hr {
    border: solid #DDDDDD;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 40px 0;
}
