// ***********************************
// LAYOUT
// ***********************************
// Flex Grid Rows
.container {
	 margin: 0 auto;
	 max-width: 90%;
}

.row {
	 display: flex;
	 flex-wrap: wrap;
	 margin: 0 -10px;
}

.row > * {
	 background: $color4;
	 flex: 1;
	 margin: 0 10px;
}
