// ***********************************
// MIXINS
// ***********************************

// Layput media queries
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// Effects
@mixin transition-all($time: .5s) {
  -moz-transition:    $time ease-in-out;
  -ms-transition:     $time ease-in-out;
  -o-transition:      $time ease-in-out;
  -webkit-transition: $time ease-in-out;
  transition:         $time ease-in-out;
}

@mixin fade($time: .3s) {
  -moz-transition:    background-color $time ease-in-out;
  -ms-transition:     background-color $time ease-in-out;
  -o-transition:      background-color $time ease-in-out;
  -webkit-transition: background-color $time ease-in-out;
  transition:         background-color $time ease-in-out;
}
