// ***********************************
// LINKS
// ***********************************
a {
  @include transition-all(.5s);
  color: $link-color;
  text-decoration: none;

  &:visited {
    @include transition-all(.5s);
    color: $link-color;
    text-decoration: none;
	}

  &:hover {
    @include transition-all(.5s);
    color: $link-hover;
	}

  &:active {
    @include transition-all(.5s);
    color: $link-hover;
	}

  &:focus {
    @include transition-all(.5s);
    color: $link-hover;
	}
}

// ***********************************
// TYPOGRAPHY
// ***********************************
h1 {
  clear: both;
  font-family: $font-family-title;
  font-weight: $font-weight-title;
  letter-spacing: -.5px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  clear: both;
  font-family: $font-family-title;
  font-weight: $font-weight-title;
  letter-spacing: -.5px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  clear: both;
  font-family: $font-family-title;
  font-weight: $font-weight-title;
  letter-spacing: -.5px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  clear: both;
  font-family: $font-family-title;
  font-weight: $font-weight-title;
  letter-spacing: -.5px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

h5 {
  clear: both;
  font-family: $font-family-title;
  font-weight: $font-weight-title;
  letter-spacing: -.5px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

h6 {
  clear: both;
  font-family: $font-family-title;
  font-weight: $font-weight-title;
  letter-spacing: -.5px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

p {
	 font-size: 14px;
	 line-height: 1.6em;
	 margin-bottom: 1.5em;
}
